html {
    background-color: black;
    text-align: center;
    color: white;
    font-family: Verdana;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}
a { 
    color: aquamarine;
    font-size: 16px;
}
video {
    position: relative;
    margin-top: 20px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

h3 {
    font-size: 21px;
    color: gray;
    font-weight: normal;
}
.phonepic {
    margin-top: 20px;
}

footer h3 {
    color: gray;
    text-align: right;
}